<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
# ===== CACHÉ DE NAVEGADOR
<IfModule mod_expires.c>
# Activamos el módulo
ExpiresActive On

# Caducidad para las imágenes
ExpiresByType image/jpg “access 1 year”
ExpiresByType image/jpeg “access 1 year”
ExpiresByType image/gif “access 1 year”
ExpiresByType image/png “access 1 year”
ExpiresByType image/x-icon “access 1 year”

# Caducidad para las hojas de estilos (CSS’s)
ExpiresByType text/css “access 1 month”

# Caducidad para los Javascripts (JS’s)
ExpiresByType application/javascript “access 1 month”
ExpiresByType application/x-javascript “access 1 month”

# Caducidad para PDF’s
ExpiresByType application/pdf “access 1 month”

# Caducidad para todo lo demás
ExpiresDefault “access 2 days”

</IfModule>
# ===== FIN CACHÉ DE NAVEGADOR
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:sercoma.miloodp.com
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} (www\.)?sercoma.miloodp.com
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:sercoma.miloodp.com
